# Notification Aggregator Service
REDIS_HOST=localhost
REDIS_PORT=6379
MYSQL_HOST=localhost
MYSQL_USER=notif_user
MYSQL_PASSWORD=notif-password
MYSQL_DATABASE=notification_db
KAFKA_BROKER=localhost:9092
NODE_ENV=development
